name: Dependency Submission

# workflow limited to only files related to gradle dependencies
on:
  push:
    branches:
      - "main"
    paths:
      - "build.gradle.kts"
      - "settings.gradle.kts"
      - "gradle.properties"
      - "gradle/**"
      - "buildSrc/**"
      - "gradlew"
      - "gradlew.bat"
      - ".github/workflows/gradle-dependency-submission.yml"

jobs:
  dependency-submission:
    name: Dependency Submission
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: "17"
          distribution: "temurin"

      # Generates and submits a dependency graph, enabling Dependabot Alerts for all project dependencies.
      # See: https://github.com/gradle/actions/blob/main/dependency-submission/README.md
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v5
